.projectContainer {
  display: grid;
  place-items: center;
  row-gap: 20px;
  background-color: rgb(226, 232, 240);
  padding: 30px;
}

h2 {
  margin-bottom: 8px;
}

.projectCenter {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media screen and (max-width: 700px) {
  .projectCenter {
    grid-template-columns: 1fr;
  }
}
